<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/stylesheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@600;900&family=Poppins:wght@400;500;600;700&display=swap"
    rel="stylesheet">

</head>
<body id="top">
    <header class="header" data-header>
        <div class="container">
          <div class="overlay" data-overlay></div>
          <a href="#" class="logo">
            <img src="../public/images/NFTunes logo.png" width="300" height="80" alt="NFTunesLogo">
          </a>
          <nav class="navbar" data-navbar>
            <div class="navbar-top">
              <p class="navbar-title">Menu</p>
              <button class="nav-close-btn" aria-label="Close Menu" data-nav-close-btn>
                <ion-icon name="close-circle-outline"></ion-icon>
              </button>
            </div>
    
            <ul class="navbar-list">
              <li>
                <a href="#home" class="navbar-link" data-navlink>Home</a>
              </li>

              <li>
                <a href="#collection" class="navbar-link" data-navlink>Collection</a>
              </li>
    
              <li>
                <a href="#instruction" class="navbar-link" data-navlink>Instruction</a>
              </li>
    
              <li>
                <a href="#" class="navbar-link" data-navlink>Contact</a>
              </li>
            </ul>
    
          </nav>
    
          <button class="menu-open-btn" nftunes-label="Open Menu" data-nav-open-btn>
            <ion-icon name="menu-outline"></ion-icon>
          </button>
    
          <a href="#" class="btn" nftunes-login="login">
            <ion-icon name="login-outline"></ion-icon>
    
            <span id="login">LogIn</span>
          </a>
    
        </div>
    </header>
</body>
</html>