<main>
    <section class="hero" id="home">
        <div class="container">
            <h2 class="h1 hero-title">Discover, and contribute extraordinary NFTs</h2>
                <p class="hero-text">
                Explore the world's best music artist NFT marketplace
                </p>
        </div>
    </section>
    <section class="section explore" id="explore">
        <div class="container">
            <div class="title-wrapper">
                <h2 class="h2 section-title">Explore</h2>
            </div>

            <ul class="grid-list">
                <li>
                    <div class="card explore-card">
                        <figure class="card-banner">
                            <a href="#">
                                <img src="images/nft 1.jpg" width="600" height="600" alt="" class="img-cover">
                            </a>
                        </figure>

                        <h3 class="h3 card-title">
                        <a href="#">Title</a>
                        </h3>

                        <span class="card-artist">
                        Artist <a href="#" class="artist-link">Artist</a>
                        </span>

                        <div class="award">
                            <span class="awards">Awards</span>
                        </div>

                        <button class="btn">
                            <ion-icon name="bag-outline" aria-hidden="true"></ion-icon>
                            <span href="">Buy</span>
                        </button>
                    </div>
                </li>

                <li>
                <div class="card explore-card">
                    <figure class="card-banner">
                    <a href="#">
                        <img src="" width="600" height="600" alt="" class="img-cover">
                    </a>
                    </figure>

                    <h3 class="h3 card-title">
                    <a href="#">Title</a>
                    </h3>

                    <span class="card-artist">
                    Artist <a href="#" class="artist-link">John Deo</a>
                    </span>

                    <div class="award">
                    <data class="awards">Awards</data>
                    </div>

                    <button class="btn">
                    <ion-icon name="bag-outline" aria-hidden="true"></ion-icon>
                    <span href="">Buy</span>
                    </button>
                </div>
                </li>

                <li>
                <div class="card explore-card">
                    <figure class="card-banner">
                    <a href="#">
                        <img src="" width="600" height="600" alt="" class="img-cover">
                    </a>
                    </figure>

                    <h3 class="h3 card-title">
                    <a href="#">Title</a>
                    </h3>

                    <span class="card-artist">
                    Artist <a href="#" class="artist-link">John Doe</a>
                    </span>

                    <div class="award">
                    <data class="awards">Awards</data>
                    </div>

                    <button class="btn">
                    <ion-icon name="bag-outline" aria-hidden="true"></ion-icon>
                    <span href="">Buy</span>
                    </button>
                </div>
                </li>

                <li>
                <div class="card explore-card">
                    <figure class="card-banner">
                    <a href="#">
                        <img src="" width="600" height="600" alt="" class="img-cover">
                    </a>
                    </figure>

                    <h3 class="h3 card-title">
                    <a href="#">Title</a>
                    </h3>

                    <span class="card-artist">
                    Artist <a href="#" class="artist-link">John Doe</a>
                    </span>

                    <div class="award">
                    <data class="awards">Awards</data>
                    </div>

                    <button class="btn">
                    <ion-icon name="bag-outline" aria-hidden="true"></ion-icon>
                    <span href="">Buy</span>
                    </button>
                </div>
                </li>

                <li>
                <div class="card explore-card">
                    <figure class="card-banner">
                    <a href="#">
                        <img src="" width="600" height="600" alt="" class="img-cover">
                    </a>
                    </figure>

                    <h3 class="h3 card-title">
                    <a href="#">Title</a>
                    </h3>

                    <span class="card-artist">
                    Artist<a href="#" class="artist-link">John Doe</a>
                    </span>

                    <div class="award">
                    <data class="awards">Award</data>
                    </div>

                    <button class="btn">
                    <ion-icon name="bag-outline" aria-hidden="true"></ion-icon>
                    <span href="">Buy</span>
                    </button>
                </div>
                </li>

                <li>
                <div class="card explore-card">
                    <figure class="card-banner">
                    <a href="#">
                        <img src="" width="600" height="600" alt="" class="img-cover">
                    </a>
                    </figure>

                    <h3 class="h3 card-title">
                    <a href="#">Title</a>
                    </h3>

                    <span class="card-artist">
                    Artist <a href="" class="artist-link">John Doe</a>
                    </span>

                    <div class="award">
                    <data class="awards">Awards</data>
                    </div>

                    <button class="btn">
                    <ion-icon name="bag-outline" aria-hidden="true"></ion-icon>
                    <span href="">Buy</span>
                    </button>
                </div>
                </li>
            </ul>
        </div>
    </section>
</main>