
<section class="hero" id="home">
  <div class="container">
    <h2 class="h1 hero-title">Discover, and contribute extraordinary NFTs</h2>
      <p class="hero-text">
        Explore the world's best music artist NFT marketplace
      </p>
  </div>
</section>
<main>
    <section class="section explore" id="explore">
        <div class="container">
            <div class="title-wrapper">
                <h2 class="h2 section-title">Explore</h2>
            </div>

            {{!-- {{#if loggedIn}} --}}
            {{!-- <ul class="grid-list">
                {{#each artist-detail.handlebars}}
                {{> artist-detail}}
                {{/each}}
            </ul> --}}
            {{!-- {{#each artistData}} --}}
             <ul class="grid-list">
                    <li>
                        <div class="card explore-card">
                            <h3 class="h3 artist-title">
                            <a href="#">POP NFTs</a>
                            </h3>
                        </div>
                    </li>
                    <li>
                        <div class="card explore-card">
                            <h3 class="h3 artist-title">
                            <a href="#">ROCK NFTs</a>
                            </h3>
                        </div>
                    </li>
                    <li>
                        <div class="card explore-card">
                            <h3 class="h3 artist-title">
                            <a href="#">RAP NFTs</a>
                            </h3>
                        </div>
                    </li>

                </ul>
        </div>
    </section>
</main>

{{!-- {{else}}
<a href="/public/js/login.js">You must login first to view NFTs</a>
{{/if}}
{{#if loggedIn}}
<button id="logout" class="btn">Logout</button>
{{else}}
<a href="#" class="btn" nftunes-login="login">
    <ion-icon name="login-outline"></ion-icon>
    <span class="login" id="login">LogIn</span>
</a>
{{/if}} --}}
{{body}}
